.CenterWrapper {
    height: 80%;
    width: 70%;
}

.Center {
    height: 100%;
    flex-direction: row;
    align-items: center;
    margin-left: 10%;
    display: flex;
}

.SearchInput {
    height: 60%;
    width: 60%;
    background-color: #303030;
    filter: brightness(70%);
}

.SearchButton {
    background-color: #303030;
    filter: brightness(150%);
    border: none;
    height: 75%;
    width: 60px;
    cursor: pointer;
    margin: auto 0;
    display:block;
}

.SearchButton img {
    height: 80%;
}