.Video{
    color: #fff;
    border-radius: 5px;
    font-size: 150%;
}

.Video a {
    text-decoration: none;
    color: gray;
}

.Video img {
    width: 100%;
}

.Info{
    margin-top: 5px;
    width: 100%;
    display: flex;
    font-size: 1.10rem;
}

.Title{
    color: white;
}

.LeftCol{
    width: 20%;
}
.Info img {
    width: 70%;
}

.Details{
    display: flex;
    flex-direction: column;
}