<div class="ann-menu h-100">

        <div class="menu-logo-area">
            <h1 class="menu-logo">Satış Yönetimi</h1>
        </div>
    
    
        <div class="menu-button-area">
    
            <ul>
                <li routerLinkActive="menu-link-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/panel/create-sale-record"
                        class="d-block"><i class="fas fa-bullhorn"></i>Satış Kaydı Oluştur</a></li>
                <!-- <li routerLinkActive="menu-link-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/panel/edit-monitors"
                        class="d-block"><i class="fas fa-tv"></i>Monitör Düzenle</a></li> -->
                <!-- <li routerLinkActive="menu-link-active" [routerLinkActiveOptions]="{exact: true}"><a routerLink="/panel"
                        class="d-block"><i class="fas fa-tv"></i>Dolor</a></li> -->
            </ul>
    
        </div>
    
    <!--         
            <ng-template *ngIf="loggedUser | async as user;">
    
            </ng-template> -->
    

    
    
    
        <div class="menu-button-area" style="position: absolute; left: 0; bottom: 0;" >
    
            <ul>
                <li><a (click)="onClickLogout()" class="d-block"><i class="fas fa-power-off"></i>Çıkış Yap</a></li>
    
            </ul>
    
        </div>
    
    
    
    </div>